<form *ngIf="user$ | async as user" class="w-full my-8">
    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Meal Combination for you</mat-label>

        <input [value]="getSuggestion(user)" matInput disabled />
    </mat-form-field>

    <button
        matRipple
        (click)="beginCalculating()"
        matRippleColor="rgba(250, 250, 250,.2)"
        [ngClass]="{
            'text-white bg-brand-orange': !loading,
            'text-black bg-gray-500': loading
        }"
        class="flex items-center justify-center w-full p-3 px-5 mx-auto mb-3 text-xl font-bold rounded-lg"
    >
        <span>
            {{ !loading ? 'Begin My Wellness Journey' : 'Please wait..' }}
        </span>
    </button>
</form>
