<form class="w-full py-3">
    <div class="grid w-full grid-cols-2 mt-8 gap-x-5">
        <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Proteins in grams/day </mat-label>

                <input matInput type="number" id="proteins" disabled />
                <mat-error>Proteins is required</mat-error>
            </mat-form-field>

            <div class="mb-3 -mt-3 text-sm font-normal text-gray-400">
                Calories/day :
                <span class="text-sky-500 md:font-black">
                    {{ 500 | number }}</span
                >
            </div>
        </div>

        <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Carbohydrates in grams/day</mat-label>

                <input matInput type="number" id="carbohydrates" disabled />

                <mat-error>Carbohydrates is required</mat-error>
            </mat-form-field>

            <div class="mb-3 -mt-3 text-sm font-normal text-gray-400">
                Calories/day :
                <span class="text-sky-500 md:font-black">
                    {{ 500 | number }}</span
                >
            </div>
        </div>

        <div class="col-span-2 my-3">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Fats in grams/day</mat-label>

                <input matInput type="number" id="fats" disabled />

                <mat-error>Fats is required</mat-error>
            </mat-form-field>

            <div class="mb-3 -mt-3 text-sm font-normal text-gray-400">
                Calories/day :
                <span class="text-sky-500 md:font-black">
                    {{ 500 | number }}</span
                >
            </div>
        </div>

        <div class="col-span-1 md:col-span-2">
            <div class="text-sm md:text-left">Total Calories</div>

            <div class="mb-1 text-5xl font-black md:text-left text-emerald-500">
                {{ 500 | number : '1.0-0' }}
                <span class="text-sm">cal/day</span>
            </div>
        </div>
    </div>
</form>
