<div
    class="relative min-h-[100vh] flex-col flex items-center justify-center w-full"
>
    <img
        src="../../../../assets/home/home-section-1-overlay.png"
        class="absolute -z-1 w-full h-[100vh]"
        alt=""
    />

    <img
        src="../../../../assets/home/home-section-1-bg.png"
        class="h-[100vh] absolute right-0 top-0 z-0 max-w-[50%]"
        alt=""
    />

    <div
        class="grid md:grid-cols-2 w-full items-center px-5 max-w-screen-xl mx-auto relative z-10"
    >
        <div class="px-10">
            <div class="text-white text-[50px] font-black">
                Monitoring your
                <span class="text-brand-orange">eating</span> habits.
            </div>

            <div class="text-white/50">
                Tailored nutrition for your unique needs: Get personalized
                recommendations based on your goals and health status
            </div>

            <div class="grid grid-cols-2 gap-x-5 mt-8">
                <button
                    class="font-bold text-black bg-white rounded-lg text-[20px] h-[55px]"
                >
                    Get Started
                </button>

                <button
                    class="bg-trasparent border-1 border-white rounded-lg text-white font-bold text-[20px] h-[55px] border"
                >
                    Explore
                </button>
            </div>
        </div>
    </div>
</div>
