<div class="p-10 absolute z-1">
    <img
        role="button"
        routerLink="/"
        src="../../../../assets/logo.png"
        alt=""
    />
</div>

<div class="h-ful w-full grid grid-cols-2 min-h-[100vh]">
    <div
        class="w-full text-center flex flex-col max-w-screen-sm mx-auto justify-center"
    >
        <div class="font-bold text-[20px]">Join the health revolution!</div>
        <div class="text-[14px] mb-16">
            Register now to access personalized nutrition recommendations
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input matInput type="email" [placeholder]="'Email Address'" />
            <mat-error>{{ 'Email is required' }}.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
                matInput
                #passwordField
                type="password"
                [placeholder]="'Password'"
            />

            <button
                mat-icon-button
                matSuffix
                (click)="
                    passwordField.type =
                        passwordField.type === 'text' ? 'password' : 'text'
                "
            >
                <i
                    class="text-3xl text-[#365681]"
                    [class]="
                        passwordField.type !== 'text'
                            ? 'eye-fill'
                            : 'eye-slash-fill'
                    "
                ></i>
            </button>
            <mat-error>{{ 'Password is required' }}.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input
                matInput
                #confirmPassword
                type="password"
                [placeholder]="'Password'"
            />

            <button
                mat-icon-button
                matSuffix
                (click)="
                    confirmPassword.type =
                        confirmPassword.type === 'text' ? 'password' : 'text'
                "
            >
                <i
                    class="text-3xl text-[#365681]"
                    [class]="
                        confirmPassword.type !== 'text'
                            ? 'eye-fill'
                            : 'eye-slash-fill'
                    "
                ></i>
            </button>
            <mat-error>{{ 'Confirm Password is required' }}.</mat-error>
        </mat-form-field>

        <button
            (click)="register()"
            class="w-full rounded-[14px] text-white font-bold bg-brand-orange h-[55px]"
        >
            Register
        </button>

        <button
            routerLink="/auth/login"
            class="mt-2 w-full rounded-[14px] font-bold bg-brand-gray h-[55px]"
        >
            Back to Login
        </button>
    </div>

    <img
        src="../../../././../assets/register-bg.png"
        class="h-[100vh] absolute right-0 top-0 z-0 max-w-[50%] z-1"
        alt=""
    />

    <div
        class="text-white text-[50px] font-black absolute right-10 bottom-40 z-60 max-w-screen-sm"
    >
        Ready to take the first step towards a Don't miss out on personalized
        <span class="text-brand-orange"> healthier </span> you?
    </div>
</div>
