<div
    class="relative min-h-[20vh] flex-col flex items-center justify-center w-full"
>
    <div
        class="grid md:grid-cols-2 w-full items-center px-5 max-w-screen-xl mx-auto pb-20"
    >
        <div class="md:px-40">
            <div class="text-[50px] font-black mb-8">
                Ready to get started ?
            </div>

            <div class="flex items-center mb-3 text-gray-500">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </div>

            <div class="grid grid-cols-2 gap-x-5 mt-8">
                <button
                    routerLink="/auth/login"
                    class="font-bold bg-amber-500 text-white rounded-full text-[20px] h-[55px]"
                >
                    Get Started
                </button>
            </div>
        </div>

        <div>
            <img src="../../../../assets/home/home-section-4-food.png" alt="" />
        </div>
    </div>
</div>
