<div
    class="relative min-h-[150vh] flex-col flex items-center justify-center w-full"
>
    <img
        src="../../../../assets/home/home-section-3-bg.png"
        class="absolute -z-1 w-full h-full"
        alt=""
    />

    <div
        class="grid md:grid-cols-3 w-full items-center px-5 max-w-screen-xl mx-auto relative z-10"
    >
        <div class="px-10 col-span-2">
            <div class="text-white text-[50px] font-black">
                Globally renown nutrition
                <span class="text-brand-orange"> recommendation </span> website!
            </div>

            <div class="text-white/50">
                Welcome to our globally renowned nutrition recommendation
                website! Join millions of users worldwide and transform your
                health with evidence-based nutrition advice and personalized
                meal plans. Our platform has helped people achieve their health
                goals, from weight loss to disease prevention. Discover
                interactive tools and comprehensive guidance for healthier,
                happier living today.
            </div>

            <div class="grid grid-cols-4 gap-x-10 mt-8">
                <div>
                    <div class="text-[50px] font-bold text-white">250M+</div>
                    <div class="text-[16px] text-white/50">Success Stories</div>
                </div>

                <div>
                    <div class="text-[50px] font-bold text-white">99+</div>
                    <div class="text-[16px] text-white/50">
                        Users who use Activity Tracker
                    </div>
                </div>

                <div>
                    <div class="text-[50px] font-bold text-white">95+</div>
                    <div class="text-[16px] text-white/50">Popular Recipes</div>
                </div>

                <div>
                    <div class="text-[50px] font-bold text-white">135+</div>
                    <div class="text-[16px] text-white/50">User Engagement</div>
                </div>
            </div>
        </div>

        <div>
            <img
                src="../../../../assets/home/home-section-3-folder.png"
                alt=""
            />
        </div>
    </div>
</div>
