<div class="grid grid-cols-3">
    <div class="col-span-3 p-10 z-1">
        <img
            role="button"
            routerLink="/"
            src="../../../../assets/logo.png"
            alt=""
        />
    </div>

    <div class="w-full min-h-full p-10 text-left">
        <div class="font-bold text-[20px]">
            Today is {{ today | date : 'EEEE' }}
        </div>
        <div class="text-gray-500 text-[14px] mb-4">Below are your meals</div>

        <ng-container *ngIf="user$ | async as user">
            <dashboard-meals [meals]="getMeals(user)"></dashboard-meals>

            <generator-nutrition-facts
                [meals]="getMeals(user)"
            ></generator-nutrition-facts>
        </ng-container>
    </div>

    <div class="w-full min-h-full p-10 border-l border-gray-100">
        <prediction></prediction>
    </div>
</div>
