<div class="flex flex-col flex-auto overflow-hidden sm:col-span-6 bg-card mt-8">
    <div class="flex flex-col flex-auto overflow-x-auto overflow-y-auto">
        <table class="overflow-y-visible min-w-240">
            <thead class="font-normal text-white uppercase bg-green-800/50">
                <tr>
                    <th>Week</th>
                    <th>Protein</th>
                    <th>Expected Protein</th>
                    <th>Carbohydrates</th>
                    <th>Fat</th>
                    <th>Calories</th>
                    <th>Expected Calories</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    class="text-center"
                    *ngFor="
                        let week of [1, 2, 3, 4, 5];
                        trackBy: trackByFn;
                        let i = index
                    "
                >
                    <td>
                        {{ i + 1 }}
                    </td>

                    <td>
                        {{ 100 | number }}
                        <span class="text-sm text-food">grams </span>
                        <span class="text-xs font-normal text-gray-500">
                            | week</span
                        >
                    </td>

                    <td>
                        {{ 100 | number }}
                        <span class="text-sm text-food">grams </span>
                        <span class="text-xs font-normal text-gray-500">
                            | week</span
                        >
                    </td>

                    <td>
                        {{ 100 | number }}
                        <span class="text-sm text-food">grams </span>
                        <span class="text-xs font-normal text-gray-500">
                            | week</span
                        >
                    </td>

                    <td>
                        {{ 100 | number }}

                        <span class="text-sm text-food">grams </span>
                        <span class="text-xs font-normal text-gray-500">
                            | week</span
                        >
                    </td>

                    <td>
                        {{ 100 | number }}
                        <span class="text-sm text-food">cal </span>
                        <span class="text-xs font-normal text-gray-500">
                            | week</span
                        >
                    </td>

                    <td>
                        {{ 100 | number }}
                        <span class="text-sm text-food">cal </span>
                        <span class="text-xs font-normal text-gray-500">
                            | week</span
                        >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
