<div
    class="relative min-h-[100vh] flex-col flex items-center justify-center w-full"
>
    <div
        class="grid md:grid-cols-2 w-full items-center px-5 max-w-screen-xl mx-auto"
    >
        <div class="md:px-40">
            <div class="text-[50px] font-black mb-8">
                Say goodbye to one-size-fits-all diets
            </div>

            <div
                *ngFor="let item of features; trackBy: trackByFn"
                class="flex items-center mb-3"
            >
                <i class="bi bi-check2 text-emerald-500 mr-5 text-4xl"></i>

                {{ item }}
            </div>
        </div>

        <div>
            <img src="../../../../assets/home/home-section-2-food.png" alt="" />
        </div>
    </div>
</div>
