<div *ngIf="user$ | async as user" class="grid grid-cols-2">
    <div class="col-span-2 p-10 z-1">
        <img
            role="button"
            routerLink="/"
            src="../../../../assets/logo.png"
            alt=""
        />
    </div>

    <div class="w-full min-h-full p-10">
        <generator-button [user$]="user$"></generator-button>

        <generator-week-and-day></generator-week-and-day>

        <generator-meals></generator-meals>

        <generator-nutrition-facts></generator-nutrition-facts>
    </div>

    <div class="flex flex-col w-full min-h-full p-10 border-l border-gray-100">
        <div class="text-center">
            <div class="font-bold text-[20px]">
                Let's create your personal nutrition profile!
            </div>
            <div class="text-gray-500 text-[14px] mb-4">
                Together, we'll create a tailored nutrition plan just for you
            </div>
        </div>

        <div class="grid grid-cols-2 gap-x-20">
            <generator-macros [user$]="user$"></generator-macros>

            <generator-bmi [user$]="user$"></generator-bmi>
        </div>

        <generator-targets-table></generator-targets-table>

        <button
            (click)="save()"
            class="px-4 py-3 ml-auto font-bold text-white rounded-md mt-9 bg-brand-orange"
        >
            Let's do this!
        </button>
    </div>
</div>
